<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cours – Organisation GPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    Supports de Cours – Génie des Procédés 2024 - 2025
</header>

<nav>
    <a href="{{ url_for('home') }}">Accueil</a>
    <a href="{{ url_for('assignments') }}">Projets</a>
    <a href="{{ url_for('courses') }}">Ressources</a>
    <a href="{{ url_for('process') }}">À propos</a>
    <a href="{{ url_for('sponsors_protect') }}">Partenaires</a>

    <div class="dropdown">
        <a href="#" class="dropdown-btn cellules-btn">
          Cellules <span class="arrow">&#9662;</span>
        </a>
        <div class="dropdown-content">
            <a href="{{ url_for('cellule_projet') }}">Cellule Projet</a>
            <a href="{{ url_for('cellule_logistique') }}">Cellule Logistique</a>
            <a href="{{ url_for('cellule_conception') }}">Cellule Conception</a>
            <a href="{{ url_for('cellule_media') }}">Cellule Media</a>
            <a href="{{ url_for('cellule_sponsoring') }}">Cellule Sponsoring</a>
            <a href="{{ url_for('cellule_communication') }}">Cellule Communication Externe</a>
            <a href="{{ url_for('cellule_formation') }}">Cellule formation</a>
        </div>
    </div>
</nav>

<div class="section">
    <h1>📚 Semestre 1 (S1)</h1>

    <ul>
        <li><a href="https://drive.google.com/drive/folders/1htJhm5tOMLOAsjy5OhlTg6M9bMuQlDnY?usp=drive_link" target="_blank">📘 Dessin industriel</a></li>
        <li><a href="https://drive.google.com/drive/folders/1DlQYuY3xJUAsI5oSnRIZL_NyU7X10SDe?usp=drive_link" target="_blank">💧 Transfert de matière (ZALIM)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1IJCuLxvCj64tSCNsvsW-SSLqB2L7vxro?usp=drive_link" target="_blank">⚡ Electrotechnique (OUBRAHIM)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1NG1vvKRQa1cc_ZeYMa5Ig7sXdd8q7uaW?usp=drive_link" target="_blank">💻 MATLAB et SQL (AARAB)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1mrx3b1dK-0lgC1eMsBylMRxnYRvORSyK?usp=drive_link" target="_blank">📐 Math Appliqué (EL KARKRI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1yHX5OpTuhvNq2q_Sq3lBSzIGO7lqQwci?usp=drive_link" target="_blank">🔥 Thermochimie (GHAZI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1OFw9sCnjFim1UFdlZttpSY0tcOBEJRW-?usp=drive_link" target="_blank">🔢 Méthode numérique (FIKAL)</a></li>
        <li><a href="https://docs.google.com/document/d/18maIBQt3zDk6QMJ9RCaXzxnrkYSVNvS-/edit?usp=drive_link&ouid=111198170536793194952&rtpof=true&sd=true" target="_blank">🗣️ Communication (BELGHITI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1cS90p7oU3NCdpxOCF3D7inA5rlB_Fott?usp=drive_link" target="_blank">🌡️ Thermo Appliqué (GHAZI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1-SnyWvyiX6FymLmscHXZWtWzpkkwvoUF?usp=drive_link" target="_blank">🔥 Transfert de chaleur (ANDALOUSSI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1MRSA5ARShvEwudhlIFUeoLSei23S9HGy?usp=drive_link" target="_blank">⚗️ Cinétique (ANDALOUSSI)</a></li>
        <li><a href="https://drive.google.com/drive/folder13" target="_blank">🔬 Chimie analytique (BERKALOU)</a></li>
    </ul>
</div>

<div class="section">
    <h1>📘 Semestre 2 (S2)</h1>

    <ul>
        <li><a href="https://drive.google.com/drive/folders/17KR-d3H3eForJUQE-jxntx_gPDR45QXs?usp=drive_link" target="_blank">📊 Bilan (Semlali)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1dmm1B29UtnPJcwybjwPb6pif7qrwILRi?usp=drive_link" target="_blank">🧪 Chimie organique (BERKALOU)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1abYJQOykGHcpj9_XDm8pJAoVH0VXdIFU?usp=drive_link" target="_blank">🤖 AI – Intelligence Artificielle (GHAZAF)</a></li>
        <li><a href="https://drive.google.com/drive/folders/19JRU1vz6v6BWBSR3fp4o4dfgNtiJv74V?usp=drive_link" target="_blank">🧵 Polymère (AHMADI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/118z3-lV92eL1noOvoUhUZHfXfgzrUxuT?usp=drive_link" target="_blank">📈 Probabilités (EL ALAOUI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1CVN9JYmxzN07D8VHbDLcz_GT1BGRF9iY?usp=drive_link" target="_blank">📐 RO – Recherche opérationnelle (EL KARKRI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1G9ndX6G6U8YaezfWeOJ3IUCqnwRpM66E?usp=drive_link" target="_blank">🔊 Système et signaux (QCM Repetitive)</a></li>
        <li><a href="https://drive.google.com/drive/folders/1y6-4s5Ppk9esVADJqWWqnEeURBv07Gbq?usp=drive_link" target="_blank">🌊 MDF – Mécanique des fluides (TOUZANI)</a></li>
        <li><a href="https://drive.google.com/drive/folders/11rHaxhk3Zn8MQBf5bXBc8nKx2agrXkpJ?usp=drive_link" target="_blank">🧪 TP – Travaux pratiques</a></li>
    </ul>
</div>


<footer>
    &copy; 2025 Classe GPI – Organisation pédagogique complète
</footer>

</body>
</html>

