{% extends "base.html" %}

{% block title %}Cours – Organisation GPI{% endblock %}

{% block header %}
<header>
    Supports de Cours – Génie des Procédés 2024 - 2025
</header>
{% endblock %}

{% block content %}

<div class="section">
    <h1>Semestre 1 (S1)</h1>
    <p><em>Les ressources de cours sont maintenant gérées en interne. Contactez les responsables du club pour accéder aux documents.</em></p>

    <ul>
        <li>Dessin industriel</li>
        <li>Transfert de matière (ZALIM)</li>
        <li>Electrotechnique (OUBRAHIM)</li>
        <li>MATLAB et SQL (AARAB)</li>
        <li>Math Appliqué (EL KARKRI)</li>
        <li>Thermochimie (GHAZI)</li>
        <li>Méthode numérique (FIKAL)</li>
        <li>Communication (BELGHITI)</li>
        <li>Thermo Appliqué (GHAZI)</li>
        <li>Transfert de chaleur (ANDALOUSSI)</li>
        <li>Cinétique (ANDALOUSSI)</li>
        <li>Chimie analytique (BERKALOU)</li>
    </ul>
</div>

<div class="section">
    <h1>Semestre 2 (S2)</h1>
    <p><em>Les ressources de cours sont maintenant gérées en interne. Contactez les responsables du club pour accéder aux documents.</em></p>

    <ul>
        <li>Bilan (Semlali)</li>
        <li>Chimie organique (BERKALOU)</li>
        <li>AI – Intelligence Artificielle (GHAZAF)</li>
        <li>Polymère (AHMADI)</li>
        <li>Probabilités (EL ALAOUI)</li>
        <li>RO – Recherche opérationnelle (EL KARKRI)</li>
        <li>Système et signaux (QCM Repetitive)</li>
        <li>MDF – Mécanique des fluides (TOUZANI)</li>
        <li>TP – Travaux pratiques</li>
    </ul>
</div>

{% endblock %}
