{% extends "base.html" %}

{% block title %}Accès Sponsors{% endblock %}

{% block content %}
<div class="page-content">
    <div class="login-box">
        <h2>Mot de passe requis</h2>
        <form method="POST">
            <input type="password" name="password" placeholder="Entrer le mot de passe">
            <button type="submit">Accéder</button>
        </form>
        {% if error %}
            <p class="login-error">Mot de passe incorrect</p>
        {% endif %}
    </div>
</div>
{% endblock %}
